.menuBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 10px;
}

.logoContainer {
  display: none; /* Hide the logo by default */
}

.logo {
  max-height: 50px; /* Adjust the height as needed */
  margin-left: 20px;
  background-color: white;
  border-radius: 2px solid white;
}

.menuIcon {
  display: none; /* Hidden by default */
  color: white;
  cursor: pointer;
}

.menuList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.menuItem {
  margin: 0 15px;
}

.menuItem a, .hasSubMenu > span {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.hasSubMenu {
  position: relative;
}

.subMenuList {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  list-style: none;
  margin: 0;
  padding: 10px;
  z-index: 10; /* Ensure the submenu is on top */
}

.subMenuItem {
  margin: 0;
}

.subMenuItem a {
  color: white;
  text-decoration: none;
}

.menuOpen {
  display: block !important;
}

.subMenuOpen {
  display: block;
}

/* Media Queries */
@media (max-width: 768px) {
  .menuIcon {
    display: block; /* Show the menu icon on mobile */
  }

  .menuList {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
  }

  .menuItem {
    margin: 10px 0;
  }

  .menuOpen {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .logoContainer {
    display: block; /* Show the logo on mobile */
    order: -1; /* Move the logo to the top of the flex container */
    margin-bottom: 10px;
  }
}

@media (min-width: 769px) {
  .logoContainer {
    display: block; /* Show the logo on desktop */
  }

  .menuList {
    display: flex;
  }

  .menuItem {
    margin: 0 15px;
  }

  .subMenuList {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    list-style: none;
    margin: 0;
    padding: 10px;
    z-index: 10; /* Ensure the submenu is on top */
  }

  .menuOpen .subMenuList {
    display: none;
  }

  .hasSubMenu:hover .subMenuList {
    display: block;
  }
}
